<!DOCTYPE html>
<html lang="en">
<head>
  <title>PDFs Report</title>
</head>
<body>

Generated {{ now }}

<h1>STATS</h1>
<table>
  {% for name, n in counter.items() %}
  <tr><td>{{ name }}:</td><td>{{ n }}</td></tr>
  {% endfor %}
</table>

<h1>ERRORS</h1>
{% for error in errors %}
<p>{{ error }}</p>
{% endfor %}

<h1>TODO</h1>
{% for depth, path, reason_not_done in gen_todos() %}
{% set spacer = ("&nbsp;" * (depth * 4)) %}
<p>{{ spacer | safe }}<a href="file://{{ path }}">{{ path | basename }}</a>
{% if reason_not_done %}
<br>{{ spacer | safe }}{{ reason_not_done }}
{% endif %}
</p>
{% endfor %}
</body>
</html>
